<html>
<head>
    <script src="./menus.jc"></script>
    <link rel="stylesheet" href="./estilo.css">
    <title>Layout</title>
</head>
<body>
    <main class="principal">
        <header class="secundario">
            <h2>       Zafari           </h2>
        </header>
        <section class="izq1">
            <aside class="izq">
                <button class="btn" id="homee">  Home  </button>
                <button class="btn" id="zpotifyy"> Zpotify </button>
                <button class="btn" id="what"> WhatzApp </button>                
            </aside>
            <main class="menu">
                <div class="recuMenu">
                    <Iframe id="Menues" src="../Home/index.html"   height="100%" width="100%"> </Iframe>
                </div>
            </main>
        </section>
    </main>
</body>
</html>