.TOTAL{
    height: 100%;
    border-width: 2px;
    border-color: red;
}
.LADO1 {
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-rows: 15%;
    border-right: 1px solid #8C8C8C;
    border-bottom: 1px solid #DBDBDB;
}
.MAIN{

    grid-template-columns: 30% 70%;
    height: 100%;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    border-width: 1px;
}
.CAB {
    display: flex;
    border-width: 2px;
    background-color: rgb(148, 130, 130);
    font-size: 26px;
    align-items: center;
    padding-left: 80px;
}
.NOMBRES {
    border-bottom: 1px solid #DBDBDB;
    align-items: center;
    display: flex;
    grid-template-columns: 378px 168px;
    padding-left: 35px;
    font-size: 46px;
}
.LADO2 {
    display: table-header-group;
    text-align: center;
    border-width: 3px;
}
.TEXT2 {
    height: 15%;
    font-size: 66px;
    border-width: 2px;
    background: #DBDBDB;
    display: flex;
    align-items: center;
    padding-left: 320px;
}
.CHAT {
    height: 445px;
    width: 1845px;
    background: #F2F2F2;
    border-width: 5px;
}
.ENTRADA {
    height: 17.8%;
    border-width: 3px;
    background: #F2F2F2;
}
.TEXT input {
    border-radius: 40px;
    height: 45px;
    width: 4445px;
    text-align: center;
    border-radius: 40px;
    border: 3px solid rgb(167, 119, 119);
}
p {
    font-size: 26;
}
.NOMBRES:hover {
    background: #F2F2F2;
}